body {
    background-color: rgb(85, 20, 20);
}

h1 {
    color: rgb(166, 207, 164);
    text-align: center;
    text-decoration: underline;
    text-decoration-color:rgb(10, 12, 10)
}

.column {
    float: left;
    width: 45%;
    padding: 10px;
    height: 250px;
  }
  
.row:after{
    content: "";
    display: table;
    clear: both;
  }

#results {
    width: 45%;
}

table, th, td {
        border:rgb(10, 12, 10);
        border: solid;
        text-align: center;
}